/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow-x: hidden; */
}


.global {
    font-family: 'Poppins';
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

